/.idea/
/build-scripts/
/test/

/.editorconfig
/.eslintrc.json
/babel.config.js
/jest.config.cjs
/nodemon.json
/tsconfig.*
/yarn.lock

/*.tgz
/*.log
/.yarnclean
/.eslintrc.json
/test.mjs

/pagesconfig.json